---
# Sample config for eks-in-a-box
# This is configured to Devlob Staging in Sydney
name: ekstatic
private_subnets:
  - subnet-07ea9c63
  - subnet-346cf442
region: ap-southeast-2
public_subnets:
  - subnet-01ea9c65
  - subnet-376cf441
vpc_id: vpc-b55ef4d1
keypair: mad-team
